<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>VSUW Static</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon(s) -->
  <!-- <link rel="shortcut icon" href="assets/images/favicon.png?v3" type="image/x-icon" />
  <link rel="apple-touch-icon" href="assets/images/favicon.png?v3">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon.png?v3">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon.png?v3">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon.png?v3"> -->
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->

  <!-- Modernizr & Prefix Free (All other JS in footer) -->
  <script src="../components/prefix-free/prefixfree.min.js"></script>
  
  <!-- Typekit -->
  <link rel="stylesheet" href="https://use.typekit.net/mue7yvz.css">

  <!-- Donately -->
  <script type="text/javascript" src="https://cdn.donately.com/dntly-core/1.8/core.min.js"></script>



</head>
<body class="@@body_class">


<div class="header-wrap">

  <a href="/#" class="header__logo header__logo-mobile" title="united way valley of the sun" alt="United Way Valley of the Sun"></a>

  <div class="sticky-toggle-wrap">
    <button type="button" role="button" aria-label="Toggle Navigation" id="menu-toggle" class="menu-toggle">
      <span></span>
    </button> 
  </div>
  <header id="header" class="header row">
    <div class="">
      <a href="homepage.html" class="header__logo" title="united way valley of the sun" alt="United Way Valley of the Sun"></a>
    </div>
    <nav id="nav" class="nav">
        <ul id="menu-primary" class="menu menu-primary"> <!--menu primary -->
          <li class="menu-item menu-item-fixed menu-item-has-children"><a href="/about-us.html">About</a>
            <ul class="sub-menu">
              <a href="/press-kit.html"><li class="menu-item">Press Kit</li></a>
            </ul>
          </li>
          <li class="menu-item menu-item-fixed menu-item-has-children"><a href="/what-we-do.html">What We Do</a>
            <ul class="sub-menu">
              <a href="/ffk.html"><li class="menu-item">Fight for Kids</li></a>
              <a href="/programs.html"><li class="menu-item">Programs</li></a>
              <a href="/affinity-group.html"><li class="menu-item">Affinity Group</li></a>
            </ul>
          </li>
          <li class="menu-item menu-item-fixed menu-item-has-children"><a href="/get-involved.html">Get Involved</a>
            <ul class="sub-menu">
              <a href="/volunteer.html"><li class="menu-item">Volunteer</li></a>
              <a href="//donate.htmll"><li class="menu-item">Donate</li></a>
            </ul>
          </li>
          <li class="menu-item menu-item-fixed menu-item-has-children"><a href="/get-help.html">Get Help</a>
            <ul class="sub-menu">
              <a href="/resources.html"><li class="menu-item">Resources</li></a>
              <a href="/affinity-group.html"><li class="menu-item">Affinity Group</li></a>
              <a href="/marketing-landing.html"><li class="menu-item">Marketing</li></a>
            </ul>
          </li>
           <li class="menu-item menu-item-fixed menu-item-has-children"><a href="/blog.html">Blog</a></li>
           <li class="menu-item menu-item-give"><a href="/donate.html">Donate</a></li>
        </ul> <!-- menu primary closing -->
      </nav>
    </header>
  </div>
  
  <div id="app" class="@@app_class"> 


 